---
const links = [
  {
    label: "Home",
    url: "/",
  },
  {
    label: "About",
    url: "/about",
  },
  {
    label: "Blog",
    url: "/blog",
  },
  {
    label: "Tags",
    url: "/tags",
  },
];
---

<ul class="flex gap-8">
  {
    links.map((link) => (
      <li>
        <a
          class="text-lg text-sky-800 dark:text-sky-100 hover:text-orange-500 dark:hover:text-orange-300"
          href={link.url}
        >
          {link.label}
        </a>
      </li>
    ))
  }
</ul>
