---
const links = [
    {
        label: "Home",
        url: "/",
    },
    {
        label: "About",
        url: "/about",
    },
    {
        label: "Blog",
        url: "/blog",
    },
];
---
<div class="nav-links">
    {links.map(link => <a href={link.url}>{link.label}</a>)}
</div>